@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Volkhov&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .poppins {
    font-family: "poppins";
  }
  .volkhov {
    font-family: "volkhov";
  }
  .sans {
    font-family: "Open Sans";
  }
  .card-shadow {
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0),
      0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
      0px 20px 13px 0px rgba(0, 0, 0, 0.01),
      0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
      0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
      0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    background: var(--white, #fff);
  }
}

progress[value] {
  --color: blue; /* the progress color */
  --background: lightgrey; /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 10em;
  background: var(--background);
  height: 5px;
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}
